<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="../static/scripts.js"></script>


        {% if title %}
        <title>{{ title }}:Environment Controls</title>
        {% else %}
        <title>Just A Title</title>
        {% endif %}

    </head>

    <body>
        {% block header %}{% endblock %}
        {% block graph_input %}{% endblock %}
        {% block control_input %}{% endblock %}
        {% block section %}{% endblock %}
        {% block plot %}{% endblock %}
    </body>

</html>