{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block header %}
	<header>
		<h2>Garden Monitoring System</h2>
		<table>
		<tr>
			<td>
				<div class="sensor">
					<h2>Sensor 1</h2>
					<p>Temperature = {{data["ch1"]["temp"]}}</p>
					<p>Humidity = {{data["ch1"]["humidity"]}}</p>
				</div> 
			</td>
			<td>
				<div class="sensor">
					<h2>Sensor 2</h2>
					<p>Temperature = {{data["ch2"]["temp"]}}</p>
					<p>Humidity = {{data["ch2"]["humidity"]}}</p>
				</div>
			</td>
			<td>
				<div class="sensor">
					<h2>Sensor 3</h2>
					<p>Temperature = {{data["ch3"]["temp"]}}</p>
					<p>Humidity = {{data["ch3"]["humidity"]}}</p>
				</div>
			</td>
			<td>
				<div class="sensor">
					<h2>Sensor 4</h2>
					<p>Temperature = {{data["ch4"]["temp"]}}</p>
					<p>Humidity = {{data["ch4"]["humidity"]}}</p>
				</div>
			</td>
		</tr>
		</table>
	</header>
{% endblock %}

{% block control_1 %}
	<section>
		<h2>Room Control</h2>
		<table>
		<tr>
			<td>					
				<form method="POST" action="/">
				    {{ fan_override.hidden_tag() }}
				    {{ fan_override.is_fan_override.label }} {{ fan_override.is_fan_override(onchange="update_model()") }}
				    {{ fan_override.fan_override_state.label }} {{ fan_override.fan_override_state(onchange="update_model()") }}
				</form>
			</td>
		</tr>
		<tr>
			<td>	
				<form method="POST" action="/">
				    {{ heater_override.hidden_tag() }}
				    {{ heater_override.is_heater_override.label }} {{ heater_override.is_heater_override(onchange="update_model()") }}
				    {{ heater_override.heater_override_state.label }} {{ heater_override.heater_override_state(onchange="update_model()") }}
				</form> 
			</td>
		</tr>
		</table>
		<p id="demohi"></p>
	</section>
{% endblock %}


{% block section %}
	<section>
		<article>
			<h2>Data Display</h2>
			<p id="demolow"></p>
			<table>
			<tr>
				<td>
					<p>Graph Configuration</p>
					<form method="POST" action="/">
				    {{ data_to_show.hidden_tag() }}
				    {{ data_to_show.show_heater.label }} {{ data_to_show.show_heater(onchange="update_model()") }}
				    {{ data_to_show.show_light.label }} {{ data_to_show.show_light(onchange="update_model()") }}
				    {{ data_to_show.show_fan.label }} {{ data_to_show.show_fan(onchange="update_model()") }}
				    {{ data_to_show.show_hum.label }} {{ data_to_show.show_hum(onchange="update_model()") }}<br>
				    {{ data_to_show.show_ch1.label }} {{ data_to_show.show_ch1(onchange="update_model()") }}
				    {{ data_to_show.show_ch2.label }} {{ data_to_show.show_ch2(onchange="update_model()") }}<br>
				    {{ data_to_show.show_ch3.label }} {{ data_to_show.show_ch3(onchange="update_model()") }}
				    {{ data_to_show.show_ch4.label }} {{ data_to_show.show_ch4(onchange="update_model()") }}<br>
				    {{ data_to_show.time.label }} {{ data_to_show.time(onchange="update_model()") }}
					</form>

				
				</td>
				<td class="graph_wrap">
					<p><img id = "graph1", alt="graph1" /></p>
				</td>

			</table>
		</article>
	</section>

	<footer>
		<h1>Plots</h1>
	</footer>
{% endblock %}