{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block header %}
	<header>
		<h2>Garden Monitoring System</h2>
		<table>
		<tr>
			<td>
				<div class="sensor">
					<h2>Sensor 1</h2>
					<p>Temperature = {{data["ch1"]["temp"]}}</p>
					<p>Humidity = {{data["ch1"]["humidity"]}}</p>
				</div> 
			</td>
			<td>
				<div class="sensor">
					<h2>Sensor 2</h2>
					<p>Temperature = {{data["ch2"]["temp"]}}</p>
					<p>Humidity = {{data["ch2"]["humidity"]}}</p>
				</div>
			</td>
			<td>
				<div class="sensor">
					<h2>Sensor 3</h2>
					<p>Temperature = {{data["ch3"]["temp"]}}</p>
					<p>Humidity = {{data["ch3"]["humidity"]}}</p>
				</div>
			</td>
			<td>
				<div class="sensor">
					<h2>Sensor 4</h2>
					<p>Temperature = {{data["ch4"]["temp"]}}</p>
					<p>Humidity = {{data["ch4"]["humidity"]}}</p>
				</div>
			</td>
		</tr>
		</table>
	</header>
{% endblock %}

{% block control_1 %}
	<section>
		<h2>Room Control</h2>
		<table>
		<tr>
			<td>Temp Thresh</td>
			<td>X</td>
		</tr>
		<tr>
			<td>Humidity Thresh</td>
			<td>Y</td>
		</tr>
		<tr>
			<td>Fan Override</td>
			<td>					
				<form method="POST" action="/">
				    {{ fan_override.hidden_tag() }}
				    {{ fan_override.is_fan_override.label }} {{ fan_override.is_fan_override(onchange="update_fan_override()") }}
				    {{ fan_override.fan_override_state.label }} {{ fan_override.fan_override_state(onchange="update_fan_override()") }}
				</form>
			</td>
		</tr>
		<tr>
			<td>Heater Override</td>
			<td>Controls</td>
		</tr>
		</table>
	</section>
{% endblock %}


{% block section %}
	<section>

		<article>
			<h2>Data Display</h2>
			{{wtf.quick_form(graph_form)}}
			<table>
			<tr>
				<td>
					<p>Channel 1</p>
					<form method="POST" action="/">
				    {{ data_to_show.hidden_tag() }}
				    {{ data_to_show.show_heater.label }} {{ data_to_show.show_heater(onchange="update_graph()") }}
				    {{ data_to_show.show_light.label }} {{ data_to_show.show_light(onchange="update_graph()") }}
				    {{ data_to_show.show_fan.label }} {{ data_to_show.show_fan(onchange="update_graph()") }}
					</form>
				<p id="demo"></p>
				</td>
				<td class="graph_wrap">
					<p><img id = "graph1", alt="graph1" /></p>
				</td>
			</tr>
			<tr>
				<td>
					<p>Channel 2</p>
					<form method="POST" action="/">
				    {{ data_to_show.hidden_tag() }}
				    {{ data_to_show.show_heater.label }} {{ data_to_show.show_heater(onchange="update_graph()") }}
				    {{ data_to_show.show_light.label }} {{ data_to_show.show_light(onchange="update_graph()") }}
				    {{ data_to_show.show_fan.label }} {{ data_to_show.show_fan(onchange="update_graph()") }}
					</form>
					<p id="demo"></p>
				</td>
				<td class="graph_wrap">
					<p><img id = "graph1", alt="graph1" /></p>
				</td>
			</tr>
			</table>
		</article>
	</section>

	<footer>
		<h1>Plots</h1>
	</footer>
{% endblock %}