{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block header %}
	<header>
		<h2>Garden Monitoring System</h2>
		<table>
		<tr>
			<td>
				<div class="sensor">
					<h2>Sensor 1</h2>
					<p>Temperature = {{data["ch1"]["temp"]}}</p>
					<p>Humidity = {{data["ch1"]["humidity"]}}</p>
				</div> 
			</td>
			<td>
				<div class="sensor">
					<h2>Sensor 2</h2>
					<p>Temperature = {{data["ch2"]["temp"]}}</p>
					<p>Humidity = {{data["ch2"]["humidity"]}}</p>
				</div>
			</td>
			<td>
				<div class="sensor">
					<h2>Sensor 3</h2>
					<p>Temperature = {{data["ch3"]["temp"]}}</p>
					<p>Humidity = {{data["ch3"]["humidity"]}}</p>
				</div>
			</td>
			<td>
				<div class="sensor">
					<h2>Sensor 4</h2>
					<p>Temperature = {{data["ch4"]["temp"]}}</p>
					<p>Humidity = {{data["ch4"]["humidity"]}}</p>
				</div>
			</td>
		</tr>
		</table>
	</header>
{% endblock %}



{% block section %}
	<section>
		<nav>
			<ul>
				<li><a href="#">Temperature</a></li>
				<li><a href="#">Humidity</a></li>
				<li><a href="#">Lamp</a></li>
			</ul>
			<ul>
				<li>{{wtf.quick_form(graph_form)}}</li>
			</ul>

		</nav>
		<article>
			<h1>Graphs</h1>
				<form method="POST" action="/">
				    {{ data_to_show.hidden_tag() }}
				    {{ data_to_show.show_heater.label }} {{ data_to_show.show_heater(onchange="update_graph()") }}
				    {{ data_to_show.show_light.label }} {{ data_to_show.show_light(onchange="update_graph()") }}
				    {{ data_to_show.show_fan.label }} {{ data_to_show.show_fan(onchange="update_graph()") }}
				</form>
				<p id="demo"></p>
			<table>
			<tr>
				<td>
					<p>Grow 5</p>
				</td>
				<td class="graph_wrap">
					<p><img id = "graph1", alt="graph1" /></p>
				</td>
			</tr>
			</table>
		</article>
	</section>

	<footer>
		<h1>Plots</h1>
	</footer>


{% endblock %}